:root {
    --Very-dark-blue: hsl(233, 47%, 7%);
--Dark-desaturated-blue : hsl(244, 38%, 16%);
--Soft-violet: hsl(277, 64%, 61%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #fff;
}
body {
    padding: 80px 65px;
    background-color: var(--Dark-desaturated-blue);
}

.contener {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--Very-dark-blue);
    height: auto;
}
.text-contener {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    order: -1;
    padding: 10px 50px 30px 40px;
}
.text-contener p {
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}
.text-contener span {
    color: var(--Soft-violet);
}
.min_imge {
    position: relative;
}
.contener .img_hero {
    height: 100%;
    width: 100%;
}
.overley {
    height: 100%;
    position: absolute;
    background-color:var(--Soft-violet);
    opacity: 0.6;
    width: 100%;
}

.numbers {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 40px;
}
.text-contener .numbers p {
    font-weight: bold;
    font-size: 1.4rem;
}
.text-contener .numbers span {
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: normal;
}
@media (max-width:400px){
    .contener {
        grid-template-rows: 1fr ;
        grid-template-columns: 1fr;
    }
    .numbers {
        display: flex;
        height: 100%;
        position: static;
    }
    .text-contener .numbers {
        flex-direction: column;
    }
    .min_imge {
        order: -3;
    }
    .text-contener {
        padding: 0;
        text-align: center;
    justify-content: start;
    height: 70vh;
    }
}
